* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #172a3a;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  
}
.list-group-item {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  border-bottom: 1px solid #51e5ff;
  padding: 15px;
}

.list-group-item:last-child {
  border-bottom: none;
}

.list-group-item .lead {
  width: 80%;
}

.float-end {
  display: flex;
  align-items: center;
  gap: 10px;
}

.float-end button {
  color: #51e5ff;
  border: none;
  background-color: grey;
  padding: 10px;
  width: fit-content;
  border-radius: 50%;
}
.theTask{
  word-wrap: break-word; 
  word-break: break-all;
}
.list-group {
  padding: 15px;
  border: 1px solid #51e5ff;
  border-radius: 10px;
  color: #fff;
  width: 100%;
  max-width: 800px;
  margin-bottom: 5vh;
}

.main-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  margin: 5vh;
}
.main-cont > span {
  color: #fff;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

#todo-form {
  width: 100%;
}
.input-title {
  padding: 12px;
  background-color: #51e5ff;
  border: none;
  border-radius: 10px;
  width: 50%;
}
.input-task {
  padding: 12px;
  background-color: #51e5ff;
  border: none;
  border-radius: 10px;
  width: 100%;
}

.task-editor{
  padding: 12px;
  background-color: #51e5ff;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: fit-content;
}
strong {
 font-size: 20px;
}

.input-group button {
  padding: 12px;
  background-color: #51e5ff;
  border: none;
  border-radius: 10px;
  width: 20%;
}

img {
  width: 16px;
  height: 16px;
  filter: invert(63%) sepia(26%) saturate(3487%) hue-rotate(151deg) brightness(97%) contrast(89%);
}
.filterMenuDropDown{
  background-color: #172a3a;
  border: none;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 5%;
  box-shadow: 0 2px 0 #000;
  color: #51e5ff;
}

.col-xs-12 {
  width: 100%;
}

section,
.row {
  width: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
}

input {
  min-width: fit-content;
}

.dropDown {
  position: absolute;
  right: 1%;
  top:10%;
  background-color:#172a3a;
  border-radius: 10px ;
  padding: 10px;
  box-shadow: 0px 0px 5px #51e5ff; 
  color: #51e5ff;
}
h2, h3{
  margin: 5px;
}
.filters{
  margin-bottom: 30px;
  padding-bottom:10px;
  border-bottom: 2px solid #51e5ff;
}
.dropDownInput{
  color: #172a3a;
  background-color: #51e5ff;
  padding: 5px;
  border-radius: 10px;
}
.dropDownButton{
  background-color: #172a3a;
  color: #51e5ff;
  padding: 2px;
  box-shadow: 0px 0px 2px #51e5ff;
  margin-left: 5px;
  border-radius: 8px;
}
.reset{
  width: 80%;
  margin: 5px 10%;
  padding: 5px; 
}

.invisible {
  display: none;
}

.d-none {
  display: none;
}
